<h1 id="user">
   
</h1>

<div style="margin: 4px;">
    <input id="chatBox" />
</div>

<div style="margin: 3px;">
    <p id="messageLogs"></p>
</div>

<a style="margin: 4px;" href="realtimeproducts">Ir a los productos</a>




<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>